﻿@{
    ViewData["Title"] = "Home Page";
}
<div>
    @if (User.Identity.IsAuthenticated)
    {
        <br />
            @User.FindFirst("name").Value
        <br /><br />

        @foreach (var claim in User.Claims)
        {
            <b>Type: </b> @claim.Type<br />
            <b>Value: </b> @claim.Value<br />
            <b>ValueType: </b> @claim.ValueType<br />
        }
    }
</div>
